@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid #ffffff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

/* Hero Carousel------------------------------------------------- */
.mobile-img {
  display: block;
}
.desktop-img {
  display: none;
}

@media (min-width: 425px) {
  .hero-carosuel-container {
    max-height: 945px;
  }
}

@media (min-width: 768px) {
  .hero-carosuel-container {
    height: 100%;
  }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: block;
  }
}

@media (min-width: 970px) {
  .hero-carosuel-container {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .hero-carosuel-container {
    height: 100%;
  }
}

@media (min-width: 1170px) {
  .hero-carosuel-container {
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .hero-carosuel-container {
    height: 100%;
  }
}
@media (min-width: 1500px) {
  .hero-carosuel-container {
    height: 100%;
  }
}
@media (min-width: 2350px) {
  .hero-carosuel-container {
    height: 100%;
    max-height: 100% !important;
  }
}

/* ! PRODUCT CARD CART SLIDER */

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
    /* opacity: 0; */
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-out-to-bottom {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    /* opacity: 0; */
  }
}

.animate-slide-in-from-bottom {
  animation: slide-in-from-bottom 0.3s ease-out forwards;
}

.animate-slide-out-to-bottom {
  animation: slide-out-to-bottom 0.3s ease-in forwards;
}
.product-swiper {
  /* height: 470px !important; */
  padding-bottom: 60px !important;
}

.product-swiper .swiper-pagination-bullet {
  @apply !bg-none  w-[10px] h-[10p] !border !border-black rounded-full mx-1;

}

.product-swiper .swiper-pagination-bullet-active {
  @apply !bg-black opacity-100;
}